body{ 
    margin: 0;
    padding: 0;
    font-family:cursive;
}
header {
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 39);
    height: 6rem;
    width: 118rem;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: 5px solid black;
}
header ul {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin: 0.75rem;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
article{
    justify-content: center;
    align-items: center;
    width: 50%;
}
aside{
    text-align: center;
    color: white;
    background-color: rgb(37, 37, 39); 
    height: 40rem;
    width: 50%;
    border: 5px solid black;
}
.card1{
    border: 5px solid black;
    margin: 0.5rem;
    text-align: center;
    width: 17rem;
    height: 12rem;
}
.card1 h1{
    background-color: rgb(37, 37, 39);
    color: white;
    margin: 0;
    padding: 0;
}
.card2{
    border: 5px solid black;
    margin: 0.5rem;
    text-align: center;
    width: 17rem;
    height: 12rem;
}
.card2 h1{
    background-color: rgb(37, 37, 39);
    color: white;
    margin: 0;
    padding: 0;
}
.card3{
    border: 5px solid black;
    margin: 0.5rem;
    text-align: center;
    width: 17rem;
    height: 12rem;
}
.card3 h1{
    background-color: rgb(37, 37, 39);
    color: white;
    margin: 0;
    padding: 0;
}
.card4{
    border: 5px solid black;
    margin: 0.5rem;
    text-align: center;
    width: 17rem;
    height: 12rem;
}
.card4 h1{
    background-color: rgb(37, 37, 39);
    color: white;
    margin: 0;
    padding: 0;
}
.card5{
    border: 5px solid black;
    margin: 0.5rem;
    text-align: center;
    width: 17rem;
    height: 12rem;
}
.card5 h1{
    background-color: rgb(37, 37, 39);
    color: white;
    margin: 0;
    padding: 0;
}
article ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin:0;
    padding: 0;
}
@media screen and (max-width:640px) {
    header{
      display: flex;  
      flex-direction: column;
      justify-content: start;
      align-items:start;
      }
    header li{
      border-top: 5px solid white;
      border-bottom: 5px solid white;
      }
    }
}